demo/

# Ignore all .pyc files in the root and subdirectories
*.pyc

# Optionally, ignore __pycache__ directories, which commonly contain .pyc files
__pycache__/

dockerfile_legacy.txt
environment_legacy.yml

.env